.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');
html {
  margin: 0;
}
body {
  font-family: 'Poppins';
  margin: 0px; 
  background: rgba( 18, 17, 20 );
  padding: 24px;
}

h1 {
  color: rgba( 255, 255, 255 );
  margin: 0;
  font-size: 36px;
  font-weight: 500;
}
