.browser-container {
    display: flex;
    overflow: auto;
    height: 100vh;
    justify-content: space-between;
    background-color: $white;
    margin-left: $medium;
    padding: 0 $medium;
    color: #000;

    .browser-spinner {
        color: $text-light;
        opacity: 0.4;
    }

    .browser-profile {
      margin-top: $medium;
      margin-right: $small;

      .profile-image {
        min-width: $xLarge;
        height: $xLarge;
        background-color: $light;
        border-radius: $xLarge;
        margin-right: $small;
        padding: $small;

        .profile-icon {
          color: $text-dark;
          width: $medium;
          height: $medium;
        }
      }
    }

    .browser-content {
        display: flex;
        overflow: auto;
        flex-grow: 1;
        flex-direction: column;

        .browser-name {
            color: $text-light;
        }

        .browser-header {
            display: flex;
            justify-content: space-between;
            margin-top: $medium;

            .browser-title {
                color: $text-primary;
                margin-bottom: $small;
            }

            .browser-header-options {
                display: flex;
                vertical-align: top;
                margin-left: $medium;

                .browser-date {
                    display: inline-block;
                    width: max-content;
                    height: $large;
                    padding-top: $spacer;
                    margin-right: $medium;

                    .date-h4 {
                        color: $text-dark;
                        opacity: 0.6;
                    }
                }

                .browser-important {
                    border-radius: $massive;
                    padding: $spacer;
                    width: $large;
                    height: $large;
                    transition: 0.2s ease-in-out; 
                    margin-right: $small;
                    cursor: pointer;
            
                    .important-icon {
                        color: $gold;
                        width: $medium;
                        height: $medium;
                    }
                }
            
                .browser-important:hover {
                    background-color: $light-gold;
                }

                .browser-options {
                    border-radius: $massive;
                    padding: $spacer;
                    width: $large;
                    height: $large;
                    transition: 0.2s ease-in-out; 
                    cursor: pointer;
            
                    .options-icon {
                        color: $text-dark;
                        opacity: 0.6;
                        width: $medium;
                        height: $medium;
                    }
                }
            
                .browser-options:hover {
                    background-color: $light;
                }
            }
        }

        .browser-tags {
            display: flex;
            margin-bottom: $medium;

            .tag {
                background-color: $light-green;
                padding: 2px $spacer;
                border-radius: 3px;
                margin-right: $spacer;

                .tag-title {
                    color: $green;
                }

                .blue {
                    color: $blue;
                }
            }

            .blue {
                background-color: $light-blue;
            }
        }

        #message-iframe {
          min-width: 100%;
      }
    }
}