.browser-container {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    margin: $medium;
    padding: $medium;
    margin-top: 0;
    position: relative;
    top: -$small;
    height: calc(100vh - 48px);
    border-radius: $small;
    color: #000;

    .browser-profile {
        margin-right: $small;

        .profile-image {
            min-width: $xLarge;
            height: $xLarge;
            background-color: $light;
            border-radius: $xLarge;
            margin-right: $small;
            padding: $small;

            .profile-icon {
                color: $text-dark;
                width: $medium;
                height: $medium;
            }
        }
    }

    .browser-content {
        flex-grow: 1;

        .browser-name {
            color: $text-light;
        }

        .browser-header {
            display: flex;
            justify-content: space-between;

            .browser-title {
                color: $text-primary;
            }

            .browser-header-options {
                display: flex;
                margin-top: $spacer;
                align-items: center;

                .browser-date {
                    color: $text-dark;
                    opacity: 0.6;
                    margin-right: $medium;
                }

                .browser-important {
                    border-radius: $massive;
                    padding: $spacer;
                    width: $large;
                    height: $large;
                    transition: 0.2s ease-in-out; 
                    margin-right: $small;
                    cursor: pointer;
            
                    .important-icon {
                        color: gold;
                        width: $medium;
                        height: $medium;
                    }
                }
            
                .browser-important:hover {
                    background-color: $light;
                }

                .browser-options {
                    border-radius: $massive;
                    padding: $spacer;
                    width: $large;
                    height: $large;
                    transition: 0.2s ease-in-out; 
                    cursor: pointer;
            
                    .options-icon {
                        color: $text-dark;
                        opacity: 0.6;
                        width: $medium;
                        height: $medium;
                    }
                }
            
                .browser-options:hover {
                    background-color: $light;
                }
            }
        }
    }
}