.inbox-container {
    background-color: $dark;
    display: flex;
    justify-content: space-between;
    padding: $medium;
    border-radius: $small;

    .inbox-image {
        min-width: $xLarge;
        height: $xLarge;
        background-color: red;
        border-radius: $xLarge;
        margin-right: $small;
    }

    .inbox-content {
        flex-grow: 1;
        margin-right: $small;

        .inbox-h4 {
            color: $white;
            margin-bottom: $spacer;
        }

        .inbox-h5 {
            color: $white;
            margin-bottom: $spacer;
        }

        .inbox-p {
            color: $text-dark;
        }
    }

    .inbox-options {
        background-color: $red;
        border-radius: $massive;
        padding: $spacer;
        width: $large;
        height: $large;

        .inbox-icon {
            color: $text-dark;
            width: $medium;
            height: $medium;
        }
    }
}