.layout_container {
    display: flex;
    width: 100vw;
    flex-direction: row;

    .layout_navigation {
        padding-top: 36px;
        width: 30vw;
        flex-grow: 0.3;
    }

    .layout_browser {
        width: 70vw;
        flex-grow: 0.7;
        background-color: blue;
    }
}