.layout_container {
    margin-top: 36px;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;

    .layout_navigation {
        background-color: red;
    }

    .layout_browser {
        background-color: blue;
    }
}