.layout_container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: $body-bg;
  transition: 0.2s ease-in-out; 

  .titlebar {
    -webkit-app-region: drag;
    height: 32px;
    width: 100%;
    position: absolute;
    margin-bottom: 10px;
  }


  .layout-navigation {
    width: 30vw;
    max-width: 500px;
    min-width: 400px;
    flex-grow: 1;
  }

  .layout-browser {
    width: 60vw;
    max-width: 800px;
    // flex-grow: 1;
  }

  .layout-sidebar {
    
  }
}