.layout_container {
    display: flex;
    width: 100vw;
    flex-direction: row;

    .layout_navigation {
        padding-top: 36px;
        width: 30vw;
        flex-grow: 0.3;

        .grid_list {
            display: 'flex';
            flex-grow: 0.3;
            height: '100vh';
            background-color: orange;
            transform: 'translateZ(0)'; // Promote the list into his own layer on Chrome. This cost memory but helps keeping high FPS.
        }

        .titlebar {
            background-color: black;
        }
    }

    .layout_browser {
        width: 70vw;
        flex-grow: 0.7;
        background-color: blue;
    }
}