.layout_container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: $body-bg;

  .titlebar {
    -webkit-app-region: drag;
    height: 32px;
    width: 100%;
    position: absolute;
    margin-bottom: 10px;
  }


  .layout-navigation {
    padding-top: $medium;
    flex-grow: 0.2;
    max-width: 464px;
  }

  .layout-browser {
    height: 100%;
    width: 50vw;
    flex-grow: 0.2;
  }

  .layout-sidebar {
    flex-grow: 1;
    min-width: 240px;
    max-width: 600px;
  }
}