.navigation-container {
  padding-bottom: $xLarge;
  padding-left: $medium;
  padding-top: $medium;
  width: 100%;

  .navigation-header {
    display: flex;
    justify-content: space-between;
    padding-right: $medium;
    padding-bottom: $small;

    .navigation-workspace {
      display: flex;
      flex-direction: row;

      .navigation-workspace-title {
        color: $white;
        margin: auto;
        margin: auto $small;
      }

      .navigation-workspace-icon {
        border-radius: $xLarge;
        overflow: hidden;
        width: $large;
        height: $large;

        .navigation-workspace-icon-outer {
          background-color: $orange;
          opacity: 0.3;
          margin: auto;
          width: 100%;
          height: 100%;
        }

        .navigation-workspace-icon-inner {
          background-color: $orange;
          position: fixed;
          top: $large;
          left: $large;
          width: $small;
          height: $small;
          border-radius: $xLarge;
        }
      }
    }
    
    .navigation-options {
      display: flex;
      flex-direction: row;
      margin: auto 0;

      .navigation-icon {
        width: $medium;
        height: $medium;
        color: $white;
        margin: auto 0;
        margin-left: $small;
        cursor: pointer;
      }

      .navigation-add {
        padding: 8px 20px;
        background-color: $white;
        border-radius: $small;
        margin-left: $medium;
        cursor: pointer;
        opacity: 0.2;
        
        .navigation-add-icon {
          width: 20px;
          height: 20px;
          color: $body-bg;
          margin-top: 2px;
        }
      }
    }
  }

  .navigation-content {
    display: inline-block;
    max-height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    overflow: auto;
    padding-top: $small;
    padding-right: $medium;

    .navigation-list-header {
        margin-bottom: $medium;
    }

    .navigation-no-messages {
      color: $white;
      font-weight: 200;
    }

    .small-spacer {
      margin-bottom: $large;
    }
  }
}

.spacer {
  height: $massive;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}