.navigation-container {
    display: flex;

    .navigation-header {
        justify-content: space-between;
        
        .navigation-search {
            display: flex;
            align-items: center;
            background-color: $dark;
            border-radius: $massive;
            padding: $spacer $small;
            color: $text-dark;

            .navigation-subtext {
                color: $text-dark;
                padding-left: $small;
            }
        }

        .navigation-filter {
            background-color: $dark;
            border-radius: $massive;
            padding: $spacer;
            color: $text-dark;
        }
    }

    .navigation-content {

    }
}