.grid_list {
    display: 'flex';
    flex-grow: 0.3;
    height: '100vh';
    transform: 'translateZ(0)'; // Promote the list into his own layer on Chrome. This cost memory but helps keeping high FPS.

    .aspectRatio_container {
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
        box-sizing: border-box;
        overflow: auto;
        max-width: 100%;

        .navigation_tile {
            height: 36vh;
            overflow: hidden;
            background: linear-gradient(#272727, #111111);
            border-radius: 12px;
            opacity: 0.9;
            border: 1px solid #4D4D4D;
    
            width: 100%;
            padding-bottom: 75%;
    
            .navigation_tab_header {
                text-align: center;
                padding: 6px;
                font-size: 13px;
                color: #797979;
            }
    
            .navigation_image {
                display: flex;
                object-fit: contain;
            }
        }
    
        .navigation_tile_small {
            height: 16vh;
            overflow: hidden;
            background: linear-gradient(#272727, #111111);
            border-radius: 12px;
            opacity: 0.9;
            border: 1px solid #4D4D4D;
    
            width: 100%;
            padding-bottom: 75%;
    
            .navigation_tab_header {
                text-align: center;
                padding: 6px;
                font-size: 13px;
                color: #797979;
            }
    
            .navigation_image {
                display: flex;
                object-fit: cover;
            }
        }
    }
}

.titlebar {
    background-color: red;
}

.icon {
    color: white;
}