.notes-container {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  height: 100%;

  .notes-main {
    flex-grow: 1;
    background-color: red;

  }

  .notes-footer {
    background-color: blue;
  }
}