.notes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: $medium;
  justify-content: flex-end;

  .notes-main {
    flex-direction: column-reverse;
    list-style: none;
    justify-content: flex-end;
    overflow: scroll;
    vertical-align: baseline;
    padding: 0 $medium;
  }

  .notes-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 $medium;
    padding-top: $small;

    .notes-icon {
      width: $medium;
      height: $medium;
      color: $text-dark;
      margin: auto 0;
      cursor: pointer;
    }
    
    .notes-options {
      display: flex;
      flex-direction: row;
      margin: auto 0;

      .notes-icon {
        width: $medium;
        height: $medium;
        color: $text-dark;
        margin: auto 0;
        margin-left: $medium;
        cursor: pointer;
      }

      .notes-add {
        padding: 8px 20px;
        background-color: $white;
        border-radius: $small;
        margin-left: $medium;
        cursor: pointer;
        
        .notes-add-icon {
          width: 20px;
          height: 20px;
          color: $body-bg;
          margin-top: 2px;
        }
      }
    }
  }
}