.reply-bar {
  display: flex;
  flex-direction: row;
  padding: $medium 0;
  width: calc(65vw - 86px);
  position: absolute;
  bottom: 0;
  right: 86px;
  z-index: 10;

  background: rgba( 255, 255, 255, 0.9 );
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 20px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  .reply-button {
    text-align: center;
    padding: 16px $medium;
    width: 200px;
    height: 64px;
    background-color: $blue;
    border-radius: $massive;

    .reply-button-text {
      color: $white;
    }
  }

  .reply-done {
    border-radius: $large;
    padding: 16px;
    width: 64px;
    height: 64px;
    transition: 0.2s ease-in-out; 
    margin-right: $small;
    margin-bottom: $medium;
    cursor: pointer;

    .reply-icon {
      width: 32px;
      height: 32px;
      color: $text-dark;
      transition: 0.2s ease-in-out; 
    }
  }
}