.sidebar-container {
    display: grid;
    background-color: $dark;
    position: absolute;
    top: 0;
    justify-content: space-between;
    width: 70px;
    height: 100%;
    text-align: center;

    .sidebar-main {
        .sidebar-icon {
            width: $large;
            height: $large;
            color: $text-dark;
        }
    }

    .sidebar-user {
    }
}